/*
--- 01 TYPOGRAPHY SYSTEM

- Font sizes (px)
10 / 12 / 14 / 16 / 18 / 20 / 24 / 30 / 36 / 44 / 52 /
 62 / 74 / 86 / 98

- Font weights
Default: 400
Medium: 500
Semi-bold: 600
Bold: 700

- Line heights
Default: 1
Small: 1.05
Medium: 1.2
Paragraph default: 1.6

- Letter spacing
-0.5px
0.75px

--- 02 COLORS

- Primary: #e67e22
- Tints:
#fdf2e9
#fae5d3
#eb984e

- Shades: 
#cf711f
#45260a

- Accents:
- Greys

#888
#767676 (lightest grey allowed on #fff)
#6f6f6f (lightest grey allowed on #fdf2e9)
#555
#333

--- 05 SHADOWS

0 2.4rem 4.8rem rgba(0, 0, 0, 0.075);

--- 06 BORDER-RADIUS

Default: 9px
Medium: 11px

--- 07 WHITESPACE

- Spacing system (px)
2 / 4 / 8 / 12 / 16 / 24 / 32 / 48 / 64 / 80 / 96 / 128
*/

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
*:focus {
  outline: none;
  /* box-shadow: 0 0 0 0.2rem hsla(28, 74%, 47%, 0.637); */
}
html {
  font-size: 62.5%;
  background-color: #fdf2e9;
}
body {
  line-height: 1;
  font-family: 'Rubik', serif;
  font-weight: 400;
  color: #555;
}
.margin-right-sm {
  margin-right: 1.6rem !important;
}
.margin-bottom-md {
  margin-bottom: 4.8rem !important;
}
.margin-bottom-sm {
  margin-bottom: 2.4rem !important;
}
.padding-v-sm {
  padding: 0 3.2rem !important;
}
.container {
  max-width: 120rem;
  margin: 0 auto;
}
.grid {
  display: grid;
  column-gap: 6.4rem;
  row-gap: 9.6rem;
}
.grid-gap-md {
  display: grid;
  gap: 6.4rem;
}
.grid--2-cols {
  grid-template-columns: repeat(2, 1fr);
}
.grid--3-cols {
  grid-template-columns: repeat(3, 1fr);
}
.grid--4-cols {
  grid-template-columns: repeat(4, 1fr);
}
.grid--5-cols {
  grid-template-columns: repeat(5, 1fr);
}
.grid--align-v {
  align-items: center;
}
.header--primary,
.header--secondary,
.header--tertiary {
  font-weight: 700;
  letter-spacing: -0.5px;
  color: #333;
}
.header--primary {
  line-height: 1.05;
  font-size: 5.2rem;
  margin-bottom: 3.2rem;
}
.header--secondary {
  font-size: 3.6rem;
  line-height: 1.2;
  margin-bottom: 9.6rem;
}
.header--tertiary {
  font-size: 3rem;
  line-height: 1.2;
  margin-bottom: 3.2rem;
}

.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 8rem;
  padding: 0 3.2rem;
  width: 100%;
  z-index: 100;
}
.nav-logo {
  height: 4.4rem;
  transition: all 0.3s;
}
.btn {
  display: inline-block;
  background-color: #e67e22;
  text-decoration: none;
  font-family: inherit;
  font-weight: 400;
  border-radius: 3rem;
  border: none;
  font-size: 1.7rem;
  padding: 1.6rem 3.2rem;
  color: #fff;
  cursor: pointer;
  transition: background-color 0.3s;
}
.login-form {
  display: flex;
  gap: 0.4rem;
  font-style: inherit;
}
.login-form input {
  font-size: 1.2rem;
  padding: 1rem 1.5rem;
  border: 1px solid #ddd;
  border-radius: 1rem;
}
.login-nav-btn {
  padding: 1rem 2rem;
  border-radius: 1rem;
  color: #fff;
  font-size: 1.2rem;
  /* width: 8rem; */
}
.main-login-btn:hover {
  background-color: #cf711f;
}
.login-form .sign-up-btn {
  color: #e67e22;
  background-color: #fdf2e9;
  border: 2px solid #e67e22;
  transition: all 0.5s;
}
.login-form .sign-up-btn:hover {
  background-color: #e67e22;
  color: #fff;
}
.login-form input {
  padding-left: 2.4rem;
  background-size: 1.4rem;
  background-repeat: no-repeat;
  background-position: 0.5rem 1rem;
}
.login-form input[type='text'] {
  background-image: url('/assests/Icons/person-outline.svg');
}
.login-form input[type='password'] {
  background-image: url('/assests/Icons/lock-closed-outline.svg');
}
.login-hero-section {
  padding-top: 4.8rem;
}
.login-hero {
  max-width: 130rem;
  margin: 0 auto;
  padding: 0 3.2rem;
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 9.6rem;
  align-items: center;
}
.header--description {
  font-size: 2rem;
  line-height: 1.6;
  margin-bottom: 4.8rem;
}

.feature-showcase {
  display: flex;
  gap: 4.8rem;
}
.showcase {
  display: flex;
  flex-direction: column;
  align-items: center;
  transition: all 0.3s;
}
.showcase:hover {
  transform: translateY(-1.2rem);
}
.showcase-icon {
  width: 3.2rem;
  height: 3.2rem;
  color: #e67e22;
  margin-bottom: 1.4rem;
  background-color: #fdf2e9;
}
.showcase-description {
  font-size: 1.6rem;
}
.login-hero-visual {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
}
.login-hero-visual::before {
  content: '';
  display: block;
  width: 75%;
  height: 20%;
  background-color: #e67e22;
  border-radius: 0.9rem;
  position: absolute;
  top: 0;
  left: 50%;
  transform: translate(-50%, 1.6rem);
}
.login-hero-visual::after {
  content: '';
  display: block;
  width: 75%;
  height: 66%;
  position: absolute;
  border: 2px solid #e67e22;
  border-radius: 0.9rem;
  top: 0;
  left: 50%;
  transform: translate(-50%, 11.5rem);
}
.visual-container {
  z-index: 100;
  background-color: #fff;
  width: 70%;
  height: 100%;
  border-radius: 0.9rem;
  box-shadow: 0 2.4rem 4.8rem rgba(0, 0, 0, 0.075);
  padding: 1.6rem 0;
  display: flex;
  flex-direction: column;
}
.visual-heading {
  text-align: center;
}
.visual-heading span {
  color: #e67e22;
}
.visual-box {
  width: 90%;
  margin: 0 auto;
  background-color: #555;
  color: #fff;
  padding: 1.2rem 2.4rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-radius: 0.9rem;
}
.visual-description {
  margin: 2.4rem auto;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  font-size: 2rem;
  width: 80%;
}
.visual-text {
  font-size: 1.6rem;
  line-height: 1.2;
}
.visual-flag {
  height: 3.2rem;
  width: 3.2rem;
  border-radius: 50%;
}
.flag-name {
  margin-top: 0.8rem;
  text-align: center;
}
.visual-direction-icon {
  stroke: #e67e22;
  height: 3.6rem;
  transform: scale(1.5);
}
.sign-up-modal {
  display: block;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  max-width: 60rem;
  background-color: #f3f3f3;
  padding: 5rem 6rem;
  box-shadow: 0 4rem 6rem rgba(0, 0, 0, 0.3);
  z-index: 999;
  transition: all 0.5s;
}
.btn--close-modal {
  font-family: inherit;
  color: inherit;
  position: absolute;
  top: 0.5rem;
  right: 2rem;
  font-size: 4rem;
  cursor: pointer;
  border: none;
  background: none;
}
.header--form {
  margin-bottom: 4.8rem;
  color: #cf711f;
}
.sign-up-form {
  grid-template-columns: 1fr 2fr;
  gap: 2.4rem;
  row-gap: 2.4rem;
  align-items: center;
}
.sign-up-form label {
  font-size: 1.8rem;
  font-weight: 500;
}
.sign-up-form input {
  font-size: 1.7rem;
  padding: 1rem 1.5rem;
  border: 1px solid #ddd;
  border-radius: 0.5rem;
}
.modal-btn {
  justify-self: center;
  grid-column: 1 / span 2;
}
.form-overlay {
  display: block;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  backdrop-filter: blur(4px);
  z-index: 100;
  transition: all 0.5s;
}

.login--after {
  position: absolute;
  width: 100%;
  top: 0;
  left: 0;
  opacity: 1;
  pointer-events: auto;
  visibility: visible;
  transition: all 0.8s;
}
.login-container {
  height: 100vh;
  display: grid;
  background-color: #fff;
  padding-right: 2.4rem;
  grid-template-columns: 0.8fr 3fr;
  gap: 2.4rem;
}

.login-nav {
  grid-column: 1;
  grid-row: 1 / -1;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  margin-right: 0.8rem;
  padding: 2.4rem 0;
  background-image: linear-gradient(to top left, #000000 0%, #434343 74%);
}
.login-nav-logo {
  height: 4.4rem;
}
.login-pfp {
  height: 7.4rem;
  border-radius: 50%;
}
.pfp {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1.6rem;
}
.pfp-name {
  color: #ffffff96;
  font-size: 2rem;
  font-weight: 600;
}
.login-nav-items {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 3.2rem;
}
.login-nav-item {
  line-height: 1.2;
  font-size: 1.6rem;
  display: flex;
  align-items: center;
  list-style: none;
}
.login-nav-icon {
  color: #fff;
  cursor: pointer;
  transition: all 0.3s;
}
.login-nav-item a {
  margin-left: 0.4rem;
  color: #fff;
  transition: all 0.3s;
  text-decoration: none;
}
.log-out-btn {
  display: flex;
  align-items: center;
  gap: 0.4rem;
  margin-right: 2.6rem;
  background-color: inherit;
  color: #fff;
  padding: 0;
  font-size: 1.6rem;
}
.log-out-timer {
  color: #fff;
  font-size: 1.2rem;
}
.log-out-timer .timer {
  font-weight: 500;
}
.active-nav-item .login-nav-icon,
.active-nav-item .nav-link {
  color: #e67e22;
}
.dashboard {
  display: grid;
  height: 100vh;
  gap: 2.4rem;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr 2fr 2fr 4fr;
}
.login-header {
  padding-top: 3.2rem;
  grid-column: 1 / -1;
}
.login-header .header--tertiary {
  margin-bottom: 1.6rem;
  font-weight: 600;
}
.login-header-description {
  font-size: 1.6rem;
  font-weight: 500;
}
.header-icons {
  justify-self: end;
  display: flex;
  gap: 2.4rem;
  cursor: pointer;
}
.header-icon {
  height: 2.4rem;
  width: 2.4rem;
}
.balance-container {
  background-color: #ff922b;
  grid-column: 1 / span 2;
  grid-row: 2 / span 2;
  display: grid;
  grid-template-columns: 1fr 1fr;
  border-radius: 0.9rem;
  padding: 1.6rem;
  box-shadow: 0 2rem 3rem rgba(0, 0, 0, 0.3);
}
.balance-info {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.balance-header p {
  font-weight: 450;
}
.balance-description {
  font-size: 1.6rem;
  font-weight: 500;
  color: #333;
}
.balance-img {
  display: flex;
  justify-content: center;
  align-items: center;
}
.wallet-img {
  width: 60%;
}
.balance-deposit,
.balance-withdrawl {
  border: 2px solid #333;
  border-radius: 0.9rem;
  box-shadow: 0 2rem 3rem rgba(0, 0, 0, 0.3);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 2.4rem;
}
.recent-header {
  font-size: 2.4rem;
  font-weight: 500;
}
.deposit-balance {
  font-size: 2rem;
  color: #40c057;
}
.withdrawl-balance {
  font-size: 2rem;
  color: #fa5252;
}
.balance-in-out {
  background-color: #ced4da;
  margin-bottom: 2.4rem;
  border-radius: 0.9rem;
  box-shadow: 0 2rem 3rem rgba(0, 0, 0, 0.3);
  display: grid;
  grid-template-columns: 2fr 1fr;
  grid-template-rows: 1fr 1fr 1fr;
  font-size: 2rem;
  padding: 1.6rem;
  gap: 1.8rem;
  font-weight: 500;
  align-items: center;
}
.interest-amt,
.deposit-amt {
  color: #40c057;
}
.withdrawl-amt {
  color: #fa5252;
}
.balance-history {
  background-color: #fff;
  grid-column: 2 / -1;
  margin-bottom: 2.4rem;
  border-radius: 0.9rem;
  box-shadow: 0 2rem 3rem rgba(0, 0, 0, 0.3);
  overflow-y: scroll;
}
.movement {
  display: flex;
  padding: 1.6rem 3.2rem;
  align-items: center;
  border-bottom: 1px solid #eee;
}
.movement_type {
  margin-right: 4.8rem;
  font-size: 1.2rem;
  padding: 0.4rem 0.8rem;
  text-transform: uppercase;
  border-radius: 1rem;
  font-weight: 500;
  color: #fff;
}
.movement_type-deposit {
  background-image: linear-gradient(to top left, #39b385, #9be15d);
}
.movement_type-withdrawl {
  background-image: linear-gradient(to top left, #e52a5a, #ff585f);
}
.movement__date {
  font-size: 1.1rem;
  text-transform: uppercase;
  font-weight: 500;
  color: #555;
}
.movement__value {
  margin-left: auto;
  font-size: 1.8rem;
}
.movement__value-deposit {
  color: #40c057;
}
.movement__value-withdrawl {
  color: #fa5252;
}

.send__money {
  height: 100vh;
  display: grid;
  gap: 2.4rem;
  grid-template-rows: 1fr 8fr;
}
.interfaces {
  display: grid;
  grid-template-rows: 1fr 1fr;
  gap: 2.4rem;
  margin-bottom: 2.4rem;
}
.interface {
  background-color: #333;
  box-shadow: 0 2rem 3rem rgba(0, 0, 0, 0.3);
  border-radius: 0.9rem;
  display: grid;
  grid-template-columns: 2fr 1fr;
  overflow: hidden;
}
.main-interface {
  padding: 2.4rem 4.8rem;
}
.interface-header {
  font-size: 2.4rem;
  font-weight: 500;
  margin-bottom: 4.8rem;
  color: #fff;
}
.form {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: auto auto;
  gap: 2.4rem;
  align-items: center;
}
.form__input {
  width: 50%;
  border: none;
  background-color: rgba(255, 255, 255, 0.4);
  font-family: inherit;
  font-size: 1.5rem;
  color: #333;
  padding: 0.3rem 1rem;
  border-radius: 0.7rem;
  transition: all 0.3s;
}
.form__btn {
  border: none;
  border-radius: 0.7rem;
  font-size: 1.8rem;
  background-color: #fff;
  cursor: pointer;
  transition: all 0.3s;
  justify-self: center;
  grid-column: 1 / span 2;
  width: 4rem;
}
.form__label {
  font-size: 1.6rem;
  text-align: center;
  color: #fff;
}
.via--username .interface-visual {
  background-image: linear-gradient(#3532321e, #ffffff48),
    url('/assests/login-transfer/username-transfer.jpg');
  background-size: cover;
}
.via--email .interface-visual {
  background-image: linear-gradient(#3532321e, #ffffff48),
    url('/assests/login-transfer/email-transfer.jpg');
  background-size: cover;
}
.load__money {
  height: 100vh;
  display: grid;
  gap: 2.4rem;
  grid-template-rows: 1fr 8fr;
}
.via--loan .interface-visual {
  background-image: linear-gradient(#3532321e, #ffffff48),
    url('/assests/login-transfer/loan.jpg');
  background-size: cover;
}
.via--request .interface-visual {
  background-image: linear-gradient(#3532321e, #ffffff48),
    url('/assests/login-transfer/request.jpg');
  background-size: cover;
}
.setting-options {
  margin-top: 2.4rem;
  display: flex;
  flex-direction: column;
  gap: 3.2rem;
}
.option {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.option p {
  font-size: 2rem;
  font-weight: 500;
}
.sort-btn {
  padding: 1rem 2rem;
  font-size: 1.6rem;
}
.status_off {
  background-color: inherit;
  box-shadow: inset 0 0 0 2px #e67e22;
  color: #e67e22;
}
.locales {
  border: none;
  background-color: #55555570;
  font-family: inherit;
  font-size: 1.6rem;
  color: #333;
  padding: 0.3rem 1rem;
  border-radius: 0.9rem;
  transition: all 0.3s;
}
.currencies {
  border: none;
  background-color: #55555570;
  font-family: inherit;
  font-size: 1.6rem;
  color: #333;
  padding: 0.3rem 1rem;
  border-radius: 0.9rem;
  transition: all 0.3s;
}
.hidden {
  display: none;
}
.animated-hidden {
  opacity: 0;
  pointer-events: none;
  visibility: hidden;
}
